{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">Benvenuto, {{ user.name }}</h2>
<div class="row mt-4">
    <!-- Colonna Prodotti Offerti -->
    <div class="col-md-6">
        <h3>Prodotti Offerti</h3>
        <ul class="list-group">
            {% for product in offered %}
            <li class="list-group-item">
                <a href="{{ url_for('product_page', product_id=product['_id']) }}">{{ product['name'] }}</a>
                <span> - {{ product['category'] }}</span>
            </li>
            {% endfor %}
        </ul>
        <!-- Pulsante per gestire i prodotti offerti -->
        <div class="mt-3">
            <a href="{{ url_for('manage_products') }}" class="btn btn-primary">Gestisci Prodotti</a>
        </div>
    </div>
    <!-- Colonna Prodotti Desiderati -->
    <div class="col-md-6">
        <h3>Prodotti Desiderati</h3>
        <ul class="list-group">
            {% for product in wanted %}
            <li class="list-group-item">
                <a href="{{ url_for('product_page', product_id=product['_id']) }}">{{ product['name'] }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
