{% extends 'base.html' %}

{% block content %}
<div>
    <h2 class="text-left">Benvenuto, {{ user.name }}</h2>
    <!-- Pulsante per leggere le chat -->
    <a href="{{ url_for('chat') }}" class="btn btn-primary">Chat</a>
    <!-- Pulsante per gestire i prodotti offerti e desiderati -->
    <a href="{{ url_for('manage_products') }}" class="btn btn-primary">Gestisci Prodotti</a>
</div>
<div class="row mt-4">
    <!-- Colonna Prodotti Offerti -->
    <div class="col-md-6">
        <h3>Prodotti Offerti</h3>
        <ul class="list-group">
            {% for product in offered %}
            <li class="list-group-item">
                <a href="{{ url_for('product_page', product_id=product['_id']) }}">{{ product['name'] }}</a>
                <span> - {{ product['category'] }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Colonna Prodotti Desiderati -->
    <div class="col-md-6">
        <h3>Prodotti Desiderati</h3>
        <ul class="list-group">
            {% for product in wanted %}
            <li class="list-group-item">
                <a href="{{ url_for('product_page', product_id=product['_id']) }}">{{ product['name'] }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
